VITE_DATA_PROVIDER=firebase
VITE_AUTH_PROVIDER=firebase
VITE_APIKEY=tu_api_key_aquí
VITE_AUTHDOMAIN=tu_proyecto.firebaseapp.com
VITE_PROJECTID=tu_proyecto_id
VITE_STOREGEBUCKET=tu_proyecto.appspot.com
VITE_MESSAGINGSENDERID=tu_messaging_id
VITE_APPID=tu_app_id
VITE_API_BASE_URL=http://localhost:4000/api
